*
{
    color:#6f6f6f;
}
.pl3
{
    padding-left: 3px;
}
.pr3
{
    padding-right: 3px;
}
.mt15
{
    margin-top: 15px;
}
.img
{
    float:left;
}

.list_detail:nth-child(2n)
{
    padding-right: 3px;
}
.list_detail:nth-child(2n+1)
{
    padding-left: 3px;
}

.list_detail_text
{
    display: block;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    padding:6px 10px;
    height:42px;
    overflow: hidden;
    background: #ffffff;
}
.list_detail_price
{
    background: #ffffff;
    display: block;
    font-size: 16px;
    color:#eb3040;
    text-align: center;
    padding:6px;
}
.list_detail
{
    margin-bottom: 6px;
}

#footer
{
    width:100%;
    position: fixed;
    left:0px;
    bottom:0px;
    background-image:-webkit-linear-gradient(to bottom, #ffffff, #dedede);
    background-image:linear-gradient(to bottom,#ffffff,#dedede);
}
#footer>a
{
    height:45px;
}
#footer #home
{
    background:url("../../images/shop/home.png") no-repeat center center;
    background-size: 40px 37px;
}
#footer #home span
{
    height:35px;
    margin-top: 5px;
    background: url("../../images/shop/foot_border.png") no-repeat right center;
    background-size: 1px 30px;

}
#footer #cart
{
    background:url("../../images/shop/cart.png") no-repeat center center;
    background-size: 40px 37px;
}