.swiper-slide a
{
    display: block;
    width:100%;
}
.header
{
    background-image:-webkit-linear-gradient(to bottom, #fafafa, #f2f2f2);
    background-image:linear-gradient(to bottom,#fafafa,#f2f2f2);
    padding:15px 15px;
}
.header_logo
{
    width:100px;
}
.user_logo
{
    display: block;
    width:45px;
    height:30px;
    padding-left: 20px;
    background: url("../../images/shop/head_border.png") no-repeat left top;
    background-size: 3px 30px;
}

.fbdetail span
{
    font-size: 16px;
    text-align: center;
}

.classification
{
    width:40px;
    margin:0 auto;
}
.fbdetail_t
{
    display: block;
    width:40px;
    margin:0 auto;

}
.fbdetail:last-child
{
    background: none;
}
.fbdetail
{
    background:url("../../images/shop/other_border.png") no-repeat right center;
    background-size: 2px 54px;
}
.fb
{
    padding:10px 0px;
    background-image:-webkit-linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image:linear-gradient(to bottom,#ffffff,#f2f2f2);
    margin:2px 0px;
}

.site_banner
{
    width:100%;
    padding:10px 4px;
    font-size: 16px;
    background-image:-webkit-linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image:linear-gradient(to bottom,#ffffff,#f2f2f2);
    margin:8px 0px;
}

