.cart_list
{
    background: #fff;
    padding:10px 10px 10px 100px;
    min-height:100px;
    width:100%;
    margin-bottom: 10px;
}

.cart_img
{
    display: block;
    position: absolute;
    left:10px;
    top:10px;
    width:80px;
    height:80px;
    overflow: hidden;
}

.count_btn {
    background-image: -webkit-linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom,#ffffff,#f2f2f2);
    border: 1px solid #e7e7e7;
    width: 22px;
    height: 22px;
}
.counted {
    height: 22px;
    padding: 0px 12px;
    line-height: 22px;
    border: 1px solid #e7e7e7;
    margin: 0px 6px;
    overflow: hidden;
    font-size: 12px;
}
.minus_count {
    padding: 9px 7px;
}
.add_count {
    padding: 6px;
}

.red
{
    color:#cc0000;
    font-size: 12px;
}
.goods_price
{
    font-size: 12px;
}

.cart_title
{
    font-size: 14px;
    padding: 0px 2px 2px 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.goods_count_wraper
{
    padding-top: 2px;
}

.cart_list_delete
{
    width:40px;
    height:40px;
    position: absolute;
    top: 66px;
    right: 8px;
    background: url("../../images/home/cart_close.png") no-repeat center center;
    background-size: 18px;
    z-index: 9;
}

.cart_foot
{
    background: #ffffff;
    width:100%;
    position: fixed;
    left:0px;
    bottom:0px;
}

#buy_now
{
    width:60px;
    height:60px;
    font-size: 14px;
    color:#ffffff;
    word-break: break-all;
    white-space: normal;
    border-radius: 0px;
    -o-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.cart_foot_text
{
    padding:18px 20px;
    font-size: 16px;
}

.block_wraper>span{
    background: #f5f5f5;
    padding:0px 6px;
    margin:0px 2px;
    height:18px;
    line-height: 18px;
    border:1px dashed #e7e7e7;
    font-size: 12px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    color:#888888;
}
.block_wraper
{
    height:18px;
    overflow:hidden;
}
.price_wraper
{
    padding:2px 0px;
}
.cart_wrapper
{
    padding-bottom: 70px;
}
body{
    overflow:auto;
}
.pt5
{
    padding-top: 5px;
}


